.avatars,
.intro-header,
.intro-header__circle,
.navbar__items,
.opening-hours__content,
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --size-text: 1.2rem;
  --size-unit: 1rem;
  --color-bg: #02af77;
  --color-white: white;
  --color-text: #0b1814;
  --color-primary: #eedd63;
  --shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

html {
  background-color: var(--color-bg);
}

body {
  margin: 0;
  font-size: var(--size-text);
}

h1,
h2,
h3 {
  color: var(--color-primary);
}

h2 {
  margin-top: var(--size-unit);
  font-size: calc(var(--size-text) * 2);
}

h3 {
  margin-top: var(--size-unit);
  font-size: calc(var(--size-text) * 1.5);
}

p {
  color: var(--color-text);
}

hr {
  margin-top: calc(var(--size-unit) * 3);
  margin-bottom: calc(var(--size-unit) * 3);
  border: 0;
  border-top: var(--size-unit) solid var(--color-primary);
}

section {
  margin-top: calc(var(--size-unit) * 3);
  margin-bottom: calc(var(--size-unit) * 3);
  padding-top: calc(var(--size-unit) * 2);
  padding-bottom: calc(var(--size-unit) * 2);
}

table {
  width: 100%;
}

table th {
  color: var(--color-primary);
}

table td {
  color: var(--color-text);
}

.opening__row th {
  text-align: right;
}

.btn {
  padding: 1rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  color: white;
}

.container {
  max-width: 80ch;
  margin: auto;
}

.avatars {
  flex-wrap: wrap;
  gap: var(--size-unit);
}

section {
  padding-left: var(--size-unit);
  padding-right: var(--size-unit);
}

.text {
  max-width: 65ch;
}

.grid {
  display: grid;
  gap: var(--size-unit);
  grid-template-columns: auto auto;
}

avatar {
  margin: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

avatar__picture {
  width: 100%;
  border-radius: 100%;
}

@media (min-width: 400px) {
  avatar {
    border: 2px solid var(--color-primary);
    overflow: hidden;
  }

  avatar__picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}

avatar__legend {
  position: relative;
  top: -90px;
  text-align: center;
  font-size: calc(var(--size-text) * 2);
  color: var(--color-bg);
  background-color: var(--color-primary);
  font-weight: 600;
}

.avatar2 {
  display: flex;
  align-items: flex-end;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  background-color: var(--color-primary);
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.avatar2 p {
  font-size: calc(var(--size-unit) * 2);
  font-weight: bold;
  color: var(--color-bg);
  background-color: var(--color-primary);
  text-align: center;
}

.intro-header {
  padding: 3rem 1rem;
  color: var(--color-primary);
  background-color: var(--color-bg);
}

@media (min-width: 520px) {
  .intro-header {
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-image: url(../img/banner-bg.jpg);
    background-color: var(--color-bg);
  }
}

.intro-header__circle {
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 520px) {
  .intro-header__circle {
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary);
  }
}

.intro-header__title {
  font-size: calc(var(--size-text) * 2);
  text-align: center;
  margin-bottom: 0;
}

@media (min-width: 520px) {
  .intro-header__title {
    color: var(--color-bg);
  }
}

.intro-header__lead {
  font-size: var(--size-text);
  color: var(--color-primary);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

@media (min-width: 520px) {
  .intro-header__lead {
    color: var(--color-bg);
  }
}

.navbar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--color-primary);
}

.navbar__items {
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: var(--size-unit);
}

.navbar__item:not(:first-child)::before {
  content: "-";
  color: var(--color-bg);
  margin-right: var(--size-unit);
}

.navbar__link {
  text-decoration: none;
  color: var(--color-bg);
  font-weight: 600;
}

.opening-hours {
  padding: 0;
  border-top: var(--size-unit) solid var(--color-primary);
  border-bottom: var(--size-unit) solid var(--color-primary);
  background-color: var(--color-bg);
}

@media (min-width: 650px) {
  .opening-hours {
    background-image: url(../img/rabbit.jpeg);
    background-position: right top;
    background-size: contain;
    background-blend-mode: darken;
    min-height: 400px;
  }
}

@media (min-width: 100px) {
  .opening-hours {
    display: flex;
    justify-content: center;
  }
}

.opening-hours__content {
  flex-direction: column;
  padding: var(--size-unit);
  height: 100%;
  background-color: var(--color-bg);
}

.opening-hours__content h2 {
  margin-top: 0;
}

@media (min-width: 650px) {
  .opening-hours__content {
    max-width: 400px;
    height: 400px;
  }
}

@media (min-width: 100px) {
  .opening-hours__content {
    max-width: 600px;
  }
}

.links {
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  padding-left: 0;
  gap: 1rem;
}

.links li {
  font-size: var(--size-text);
  background-color: var(--color-bg);
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid var(--color-primary);
}

.links li a {
  color: var(--color-primary);
  text-decoration: none;
}

.links__link__name {
  font-weight: 550;
}

.price-category {
  background-color: var(--color-primary);
  padding: var(--size-unit);
}

.price-category h3 {
  color: var(--color-bg);
}

table.prices {
  border-spacing: calc(var(--size-unit) * 0.4);
}

table.prices tr {
  margin-bottom: calc(var(--size-unit) * 0.4);
}

table.prices th {
  text-align: left;
  color: var(--color-text);
}

table.prices td {
  text-align: right;
}
