<footer>
  <div class="container">
    <ul class="list-inline">
      <li class="footer-menu-divider">
        <a href="#opening-hours">Horaires</a>
      </li>
      <li class="footer-menu-divider list-inline-item">
        <a href="#pricing">Tarifs</a>
      </li>
      <li class="footer-menu-divider list-inline-item">
        <a href="#products">Produits</a>
      </li>
    </ul>
    <p class="copyright text-muted small">
      Copyright © Nature Coiffure 2017. All Rights Reserved
    </p>
    <p class="text-muted small">
      Site réalisé par <a href="http://rsseau.fr">Rousseau Alexandre</a>
    </p>
  </div>
</footer>
