<div class="mb-3">
  <a href="tel:+33478305344" class="btn btn-primary btn-lg">04 78 30 53 44</a>
</div>
<ul class="list-inline intro-social-buttons mb-0">
  <li class="list-inline-item">
    <a href="https://www.facebook.com/Nature-Coiffure-Martine-523934734392432/" class="btn btn-secondary btn-lg">
      <i class="fa fa-facebook fa-fw"></i>
      <span class="network-name">Facebook</span>
      <br />
      <span class="network-rating">⭐⭐⭐⭐⭐ 4.4/5</span>
    </a>
    <a href="https://goo.gl/maps/pADrxocfLWwqfCck7" class="btn btn-secondary btn-lg">
      <i class="fa fa-google fa-fw"></i>
      <span class="network-name">Google Map</span>
      <br />
      <span class="network-rating">⭐⭐⭐⭐⭐ 4.8/5</span>
    </a>
  </li>
</ul>
