<ul class="list-inline intro-social-buttons">
  <li class="list-inline-item">
    <a href="https://www.facebook.com/Nature-Coiffure-Martine-523934734392432/" class="btn btn-secondary btn-lg">
      <i class="fa fa-facebook fa-fw"></i>
      <span class="network-name">Facebook</span>
    </a>
  </li>
  <!-- <li class="list-inline-item">
    <a href="#" class="btn btn-secondary btn-lg">
      <i class="fa fa-github fa-fw"></i>
      <span class="network-name">Github</span>
    </a>
  </li>
  <li class="list-inline-item">
    <a href="#" class="btn btn-secondary btn-lg">
      <i class="fa fa-linkedin fa-fw"></i>
      <span class="network-name">Linkedin</span>
    </a>
  </li> -->
</ul>