<nav class="navbar">
  <a class="navbar__brand" href="#">{{ site.title }}</a>
  <ul class="navbar__items">
    <li class="navbar__item">
      <a class="navbar__link" href="#opening-hours">Horaires</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#pricing">Tarifs</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link" href="#products">Produits</a>
    </li>
    <li class="navbar__item">
      <a class="navbar__link btn btn-primary" href="tel:+33478305344">04 78 30 53 44</a>
    </li>
  </ul>
</nav>
