<table class="table table-hover">
  <tbody>
    <tr class="table-dark">
      <th>Lundi</th>
      <td>Fermé</td>
    </tr>
    <tr>
      <th>Mardi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr>
      <th>Mercredi</th>
      <td>09:00 – 12:00 et 14:00 – 18:30</td>
    </tr>
    <tr>
      <th>Jeudi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr>
      <th>Vendredi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr>
      <th>Samedi</th>
      <td>09:15 – 15:00</td>
    </tr>
    <tr class="table-dark">
      <th>Dimanche</th>
      <td>Fermé</td>
    </tr>
  </tbody>
</table>
