<table class="opening">
  <tbody>
    <tr class="opening__row opening__row--close">
      <th>Lundi</th>
      <td>Fermé</td>
    </tr>
    <tr class="opening__row">
      <th>Mardi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr class="opening__row">
      <th>Mercredi</th>
      <td>09:00 – 12:00<br />14:00 – 18:30</td>
    </tr>
    <tr class="opening__row">
      <th>Jeudi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr class="opening__row">
      <th>Vendredi</th>
      <td>09:00 – 18:30</td>
    </tr>
    <tr class="opening__row">
      <th>Samedi</th>
      <td>09:00 – 16:00</td>
    </tr>
    <tr class="opening__row opening__row--close">
      <th>Dimanche</th>
      <td>Fermé</td>
    </tr>
  </tbody>
</table>
