<div class="col-xs-12 col-md-6">
  <h3>Technique</h3>
  <table class="table prices">
    <tr>
      <th>Coloration sans ammoniaque</th>
      <td>35.50 €</td>
    </tr>
    <tr>
      <th>Coloration végétale court</th>
      <td>52.50 €</td>
    </tr>
    <tr>
      <th>Coloration végétale mi-long</th>
      <td>57 €</td>
    </tr>
    <tr>
      <th>Coloration végétale long</th>
      <td>68 €</td>
    </tr>
    <tr>
      <th>Balayage</th>
      <td>16 à 38 €</td>
    </tr>
    <tr>
      <th>Mèches</th>
      <td>37 à 60 €</td>
    </tr>
    <tr>
      <th>Permanente sans ammoniaque</th>
      <td>60 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Forfaits</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + brushing court</th>
      <td>23 €</td>
    </tr>
    <tr>
      <th>Shampoing + brushing long</th>
      <td>33.50 €</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing court</th>
      <td>41.50 €</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing long</th>
      <td>55 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Soins</h3>
  <table class="table prices">
    <tr>
      <th>Soins</th>
      <td>10.50 €</td>
    </tr>
    <tr>
      <th>Soins sous vapeur</th>
      <td>14.50 €</td>
    </tr>
    <tr>
      <th>Soins thalasso + brushing</th>
      <td>61 €</td>
    </tr>
    <tr>
      <th>Soins thalasso + coupe + brushing</th>
      <td>80 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Enfants</h3>
  <table class="table prices">
    <tr>
      <th>- de 2 ans</th>
      <td>16 €</td>
    </tr>
    <tr>
      <th>- de 12 ans</th>
      <td>21 €</td>
    </tr>
    <tr>
      <th>Junior ou étudiant homme</th>
      <td>24 €</td>
    </tr>
    <tr>
      <th>Junior ou étudiant femme</th>
      <td>34.50 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Homme</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + coupe + coiffage</th>
      <td>26 €</td>
    </tr>
  </table>
</div>
