<div class="col-xs-12 col-md-6">
  <h3>Technique</h3>
  <table class="table prices">
    <tr>
      <th>Coloration sans ammoniaque</th>
      <td>38 €</td>
    </tr>
    <tr>
      <th>Coloration végétale court</th>
      <td>54 €</td>
    </tr>
    <tr>
      <th>Coloration végétale mi-long</th>
      <td>58 €</td>
    </tr>
    <tr>
      <th>Coloration végétale long</th>
      <td>69 €</td>
    </tr>
    <tr>
      <th>Permanente</th>
      <td>60 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Forfaits</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + brushing court</th>
      <td>25 €</td>
    </tr>
    <tr>
      <th>Shampoing + brushing mi-long</th>
      <td>30 €</td>
    </tr>
    <tr>
      <th>Shampoing + brushing long</th>
      <td>35 €</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing court</th>
      <td>44 €</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing mi-long</th>
      <td>49 €</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing long</th>
      <td>56 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Soins</h3>
  <table class="table prices">
    <tr>
      <th>Soins</th>
      <td>13 €</td>
    </tr>
    <tr>
      <th>Soins botox</th>
      <td>54 -> 110 €</td>
    </tr>
    <tr>
      <th>Soins thalasso + brushing</th>
      <td>62 €</td>
    </tr>
    <tr>
      <th>Soins thalasso + coupe + brushing</th>
      <td>81 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Enfants</h3>
  <table class="table prices">
    <tr>
      <th>- de 2 ans</th>
      <td>17 €</td>
    </tr>
    <tr>
      <th>- de 12 ans</th>
      <td>22 €</td>
    </tr>
    <tr>
      <th>Junior ou étudiant homme</th>
      <td>25 €</td>
    </tr>
    <tr>
      <th>Junior ou étudiant femme</th>
      <td>35 €</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Homme</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + coupe + coiffage</th>
      <td>28.50 €</td>
    </tr>
  </table>
</div>
