<div class="col-xs-12 col-md-6">
  <h3>Technique</h3>
  <table class="table prices">
    <tr>
      <th>Mèches</th>
      <td>30~65&nbsp;€</td>
    </tr>
    <tr>
      <th>Permanente sans ammoniaque</th>
      <td>60&nbsp;€</td>
    </tr>
    <tr>
      <th>Coloration sans ammoniaque</th>
      <td>40&nbsp;€</td>
    </tr>
    <tr>
      <th>Coloration végétale court</th>
      <td>
        <p>1 dose: 52&nbsp;€</p>
        <p>2 doses: 61&nbsp;€</p>
      </td>
    </tr>
    <tr>
      <th>Coloration végétale mi-long</th>
      <td>
        <p>1 dose: 56&nbsp;€</p>
        <p>2 doses: 65&nbsp;€</p>
      </td>
    </tr>
    <tr>
      <th>Coloration végétale long</th>
      <td>
        <p>1 dose: 67&nbsp;€</p>
        <p>2 doses: 76&nbsp;€</p>
      </td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Forfaits</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + brushing court</th>
      <td>28&nbsp;€</td>
    </tr>
    <tr>
      <th>Shampoing + brushing mi-long</th>
      <td>33&nbsp;€</td>
    </tr>
    <tr>
      <th>Shampoing + brushing long</th>
      <td>38&nbsp;€</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing court</th>
      <td>47&nbsp;€</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing mi-long</th>
      <td>54&nbsp;€</td>
    </tr>
    <tr>
      <th>Shampoing + coupe + brushing long</th>
      <td>61&nbsp;€</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Soins</h3>
  <table class="table prices">
    <tr>
      <th>Soins</th>
      <td>13,50&nbsp;€</td>
    </tr>
    <tr>
      <th>Soins botox</th>
      <td>54 -> 110&nbsp;€</td>
    </tr>
    <tr>
      <th>Soins thalasso</th>
      <td>110&nbsp;€</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Enfants</h3>
  <table class="table prices">
    <tr>
      <th>- de 2 ans</th>
      <td>18&nbsp;€</td>
    </tr>
    <tr>
      <th>- de 12 ans</th>
      <td>23&nbsp;€</td>
    </tr>
    <tr>
      <th>Junior ou étudiant homme</th>
      <td>26&nbsp;€</td>
    </tr>
    <tr>
      <th>Junior ou étudiant femme court</th>
      <td>36&nbsp;€</td>
    </tr>
    <tr>
      <th>Junior ou étudiant femme long</th>
      <td>40&nbsp;€</td>
    </tr>
  </table>
</div>
<div class="col-xs-12 col-md-6">
  <h3>Homme</h3>
  <table class="table prices">
    <tr>
      <th>Shampoing + coupe + coiffage</th>
      <td>30&nbsp;€</td>
    </tr>
  </table>
</div>
