<div class="card-columns"></div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% for product in site.data.products %}
  <div class="col mb-4">
    <div class="card">
      <img
        src="{{ product.image }}"
        class="card-img-top"
        alt="{{ product.alt }}"
      />
      <div class="card-body">
        <h3 class="card-title">{{ product.title }}</h3>
        {% for description in product.description %}
        <p class="card-text">{{ description }}</p>
        {% endfor %}
        <p class="card-text text-right">
          {% for badge in product.badges %}
          <span class="badge badge-secondary">{{badge}}</span>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
