.header {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  background-image: url("/img/banner-bg.jpg");
  background-position: center;
  background-size: cover;
  /* min-height: 300px; */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.header h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 0rem;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
}

.header__wrapper {
  max-width: 80ch;
}

.header__wrapper__lead {
  margin-top: 0;
  font-size: 1.75rem;
  text-align: center;
  text-shadow: 2px 3px rgba(0, 0, 0, 0.6);
}

.header__wrapper__phone {
  font-size: 1.5rem;
  text-align: center;
}
