<!DOCTYPE html>
<html lang="fr_FR">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include header.html %}
    {{ content }}
    
    
    <!-- /.banner -->
    <!-- Footer -->
    {% include footer.html %}
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/smooth-scrolling.js"></script>
    
    <!-- Piwik -->
    <script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
    var u="//piwik.rousseau-alexandre.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
    </script>
    <noscript><p><img src="//piwik.rousseau-alexandre.fr/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    
  </body>
</html>